<ion-split-pane>
  <ion-menu id="appMenu" [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title><ion-icon name="cloud"></ion-icon> Mednuvem</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content >
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" [hidden]="p.auth && !isLoggedIn() || !p.auth && isLoggedIn()">
          <ion-icon item-right name="{{p.icon}}"></ion-icon>&nbsp;&nbsp;{{p.title}}
        </button>
      </ion-list>
    </ion-content>

    <ion-footer *ngIf="isLoggedIn()">
          <ion-item>
            <ion-avatar item-left>
              <user-avatar [email]="loginService.getUser().email" size="40"></user-avatar>
            </ion-avatar>
            <h2>
              {{loginService.getUser().name}}<br>
              <small>{{loginService.getUser().company}}</small>
            </h2>

            <button ion-button icon-only clear (click)="logout()" item-right>
              <ion-icon name="log-out"></ion-icon>
            </button>
          </ion-item>
    </ion-footer>
  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
