<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon name="search"></ion-icon>
      <span>Buscar</span>
      <ion-spinner class="loading-toolbar" *ngIf="isLoading"></ion-spinner>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-searchbar
        [(ngModel)]="searchText"
        (ionInput)="search()"
        showCancelButton="true"
        placeholder="Comece a escrever..."
        debounce="500" autofocus>
    </ion-searchbar>


    <ion-list>
        <ion-item style="opacity: 0.6">
            <ion-avatar item-left>
                <img src="https://www.gravatar.com/avatar/7a4e4b4ff62d7420c4fd414e6d910f5d?s=40&amp;f=y&amp;d=mm">
            </ion-avatar>
            <h2>Nome do paciente</h2>
            <p>Status</p>
            <button ion-button color="dark" clear item-right disabled>
                Última consulta
            </button>
        </ion-item>
        <button ion-item *ngFor="let patient of patients" (click)="getPatient(patient)">
            <ion-avatar item-left>
                <img src="https://www.gravatar.com/avatar/{{patient.emailHash}}?s=40&amp;d=mm">
            </ion-avatar>
            <h2>{{patient.name}}</h2>
            <p>{{patient.medicalInsurance}} {{patient.taxIdNumber}}</p>
            <button ion-button color="dark" clear item-right disabled>
                {{patient.lastAppointment | amTimeAgo}}
            </button>
        </button>
        <ion-item *ngIf="!isLoading && !isError && isEmpty()">
            <h2><ion-icon name="warning"></ion-icon> Nenhum paciente encontrado. <a href="#" (click)="search()">Tentar novamente.</a></h2>
        </ion-item>
        <ion-item *ngIf="!isLoading && isError">
            <h2><ion-icon name="warning"></ion-icon> Oops... erro ao se comunicar com servidor. <a href="#" (click)="search()">Tentar novamente.</a></h2>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="search($event)">
    <ion-infinite-scroll-content
      loadingText="Carregando pacientes..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>

