<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon name="people"></ion-icon>
      <span>Equipe</span>
      <ion-spinner class="loading-toolbar" *ngIf="isLoading"></ion-spinner>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-searchbar
        [(ngModel)]="searchText"
        showCancelButton="true"
        placeholder="Comece a escrever..."
        debounce="500" autofocus>
    </ion-searchbar>


    <ion-list>
        <ion-item style="opacity: 0.6">
            <ion-avatar item-left>
                <img src="https://www.gravatar.com/avatar/7a4e4b4ff62d7420c4fd414e6d910f5d?s=40&amp;f=y&amp;d=mm">
            </ion-avatar>
            <h2>Membro da equipe</h2>
            <p>Status</p>
            <button ion-button clear item-right icon-right (click)="addMember()">
              Adicionar à equipe <ion-icon name="add"></ion-icon>
            </button>
        </ion-item>
        <ion-item ion-item *ngFor="let member of team.members">
            <ion-avatar item-left>
                <img src="https://www.gravatar.com/avatar/{{member.emailHash}}?s=40&amp;d=mm">
            </ion-avatar>
            <h2>{{member.name}}</h2>
            <p>{{member.email}} ({{member.role == 'owner' ? 'coordenador' : 'membro'}})</p>
            <button ion-button icon-only clear item-right (click)="removeMember(member)" color="danger">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-item>
        <ion-item *ngIf="!isLoading && !isError && isEmpty()">
            <h2>Nenhuma equipe encontrada. <a href="#" (click)="createTeam()">Criar nova equipe.</a></h2>
        </ion-item>
        <ion-item *ngIf="!isLoading && isError">
            <h2>Oops... erro ao se comunicar com servidor. <a href="#" (click)="get()">Tentar novamente.</a></h2>
        </ion-item>
    </ion-list>

</ion-content>

