<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div>
        <img class="img-avatar" src="https://www.gravatar.com/avatar/{{patient.emailHash}}?s=40&amp;d=mm">
        <span>Paciente - {{patient.id != null ? patient.name : ''}}</span>
        <ion-spinner class="loading-toolbar" *ngIf="isLoading"></ion-spinner>
      </div>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="presentPatientOptions()" *ngIf="isEditable()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="page">
      <ion-segment-button value="contact">
        Dados principais
      </ion-segment-button>
      <ion-segment-button value="indication">
        Motivo de consulta e Indicação
      </ion-segment-button>
      <ion-segment-button value="additional">
        Informações adicionais
      </ion-segment-button>
      <ion-segment-button value="observations">
        Receituário
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding [ngSwitch]="page">
    <form id="savePatientForm" (ngSubmit)="savePatient(patientForm)" #patientForm="ngForm">
          <ion-grid *ngSwitchCase="'contact'">
            <ion-row>
              <ion-item col-8>
                <ion-label floating>Nome do paciente(*)</ion-label>
                <ion-input type="text" name="name" [(ngModel)]="patient.name" required></ion-input>
              </ion-item>
              <ion-item col-4>
                <ion-label stacked>Última Consulta</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY h:mm A" pickerFormat="MM/DD/YYYY h mm A" name="lastAppointment" [(ngModel)]="patient.lastAppointment"></ion-datetime>
              </ion-item>
            </ion-row>
            <ion-row>
                <ion-item col-8>
                  <ion-label floating>CPF(*)</ion-label>
                  <ion-input type="text" name="taxIdNumber" [(ngModel)]="patient.taxIdNumber" required></ion-input>
                </ion-item>
                <ion-item col-4>
                  <ion-label stacked>Data de nascimento</ion-label>
                  <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="MM/DD/YYYY" name="birthDate" [(ngModel)]="patient.birthDate"></ion-datetime>
              </ion-item>
            </ion-row>
            <ion-row>
                <ion-item col-8>
                  <ion-label floating>RG</ion-label>
                  <ion-input type="text" name="registrationNumber" [(ngModel)]="patient.registrationNumber"></ion-input>
                </ion-item>
                <ion-item col-4>
                  <ion-label floating>Sexo</ion-label>
                  <ion-select name="gender" [(ngModel)]="patient.gender">
                    <ion-option value="m">Masculino</ion-option>
                    <ion-option value="f">Feminino</ion-option>
                  </ion-select>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item col-8>
                  <ion-label floating>Convênio(*)</ion-label>
                  <ion-input type="text" name="medicalInsurance" [(ngModel)]="patient.medicalInsurance" required></ion-input>
                </ion-item>
                <ion-item col-4>
                  <ion-label floating>Situação</ion-label>
                  <ion-select name="status" [(ngModel)]="patient.status">
                    <ion-option>Ativo</ion-option>
                    <ion-option>Inativo</ion-option>
                  </ion-select>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item col-4>
                  <ion-label floating>Estado civil</ion-label>
                  <ion-select name="maritalStatus" [(ngModel)]="patient.maritalStatus">
                    <ion-option>Solteiro(a)</ion-option>
                    <ion-option>Casado(a)</ion-option>
                    <ion-option>Divorciado(a)</ion-option>
                    <ion-option>Separado(a)</ion-option>
                  </ion-select>
                </ion-item>
                <ion-item col-8>
                  <ion-label floating>Cônjuge</ion-label>
                  <ion-input type="text" name="spouse" [(ngModel)]="patient.spouse"></ion-input>
                </ion-item>
            </ion-row>
            <ion-row>
              <ion-item col-12>
                <ion-label floating>E-mail</ion-label>
                <ion-input type="email" name="email" [(ngModel)]="patient.email"></ion-input>
              </ion-item>
            </ion-row>
            <br>
            <phone-numbers [data]="patient.phoneNumbers"></phone-numbers>
            <br>
            <social-profiles [data]="patient.socialProfiles"></social-profiles>
            <br>
            <patient-address [data]="patient.address"></patient-address>
            <br>
            <ion-row>
              <button col-12 type="button" ion-button clear small class="button-section">
                Dados do responsável&nbsp;&nbsp;<ion-icon name="add"></ion-icon>
              </button>
            </ion-row>
            <ion-row>
                <ion-item>
                  <ion-label floating>Nome do responsável</ion-label>
                  <ion-input type="text" name="accountablePerson" [(ngModel)]="patient.accountablePerson.name"></ion-input>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item col-6>
                  <ion-label floating>CPF</ion-label>
                  <ion-input type="text" name="accountablePersonTaxIdNumber" [(ngModel)]="patient.accountablePerson.taxIdNumber"></ion-input>
                </ion-item>
                <ion-item col-6>
                  <ion-label floating>RG</ion-label>
                  <ion-input type="text" name="accountablePersonRegistrationNumber" [(ngModel)]="patient.accountablePerson.registrationNumber"></ion-input>
                </ion-item>
            </ion-row>
          </ion-grid>
          <ion-grid *ngSwitchCase="'indication'">
            <ion-row>
              <ion-list col-12>
                <ion-row>
                  <button col-12 type="button" ion-button clear small (click)="addAppointmentMotivation()">
                    Motivo da consulta&nbsp;&nbsp;<ion-icon name="add"></ion-icon>
                  </button>
                </ion-row>
                <ion-item *ngFor="let m of patient.appointmentInfo.motivations">
                  <button type="button" ion-button icon-only clear item-left (click)="removeAppointmentMotivation(m)">
                    <ion-icon name="close"></ion-icon>
                  </button>
                  {{m.description}}
                </ion-item>
              </ion-list>
            </ion-row>
            <hr>
            <ion-row>
              <ion-list col-12>
                <ion-row>
                  <button col-12 type="button" ion-button clear small (click)="addAppointmentIndication()">
                    Indicação&nbsp;&nbsp;<ion-icon name="add"></ion-icon>
                  </button>
                </ion-row>
                <ion-item *ngFor="let m of patient.appointmentInfo.indications">
                  <button type="button" ion-button icon-only clear item-left (click)="removeAppointmentIndication(m)">
                    <ion-icon name="close"></ion-icon>
                  </button>
                  {{m.description}}
                </ion-item>
              </ion-list>
            </ion-row>
          </ion-grid>
          <ion-grid *ngSwitchCase="'additional'">
            <h5>Dados profissionais</h5>
            <ion-row>
              <ion-item col-12>
                <ion-label floating>Profissão</ion-label>
                <ion-input type="text" name="profession" [(ngModel)]="patient.jobTitle"></ion-input>
              </ion-item>
            </ion-row>
            <patient-address [data]="patient.commercialAddress"></patient-address>
            <br>
            <br>
            <h5>Mãe</h5>
            <ion-row>
              <ion-item col-8>
                <ion-label floating>Nome da mãe</ion-label>
                <ion-input type="text" name="motherName" [(ngModel)]="patient.mother.name"></ion-input>
              </ion-item>
              <ion-item col-4>
                <ion-label floating>Profissão</ion-label>
                <ion-input type="text" name="motherName" [(ngModel)]="patient.mother.jobTitle"></ion-input>
              </ion-item>
            </ion-row>
            <phone-numbers [data]="patient.mother.phoneNumbers"></phone-numbers>
            <br>
            <br>
            <h5>Pai</h5>
            <ion-row>
              <ion-item col-8>
                <ion-label floating>Nome do pai</ion-label>
                <ion-input type="text" name="fatherName" [(ngModel)]="patient.father.name"></ion-input>
              </ion-item>
              <ion-item col-4>
                <ion-label floating>Profissão</ion-label>
                <ion-input type="text" name="fatherName" [(ngModel)]="patient.father.jobTitle"></ion-input>
              </ion-item>
            </ion-row>
            <phone-numbers [data]="patient.father.phoneNumbers"></phone-numbers>
            <br>
            <br>
            <h5>Informações adicionais</h5>
            <ion-row>
              <ion-item>
                <ion-label floating>Notas</ion-label>
                <ion-textarea rows="4" name="observations" [(ngModel)]="patient.notes"></ion-textarea>
              </ion-item>
            </ion-row>
          </ion-grid>
          <ion-grid *ngSwitchCase="'observations'">
            <ion-row>
              <ion-item>
                <ion-label floating>Observações do paciente</ion-label>
                <ion-textarea rows="3" name="medicalObservations" [(ngModel)]="patient.medicalObservations"></ion-textarea>
              </ion-item>
            </ion-row>
            <ion-row>
              <h5>
                <br>
                <br>&nbsp;&nbsp;&nbsp;&nbsp;Receita
              </h5>
              <ion-item>
                <ckeditor name="medicalReceipt"
                  [(ngModel)]="patient.medicalReceipts[0]"
                  [config]="{language: 'pt', toolbar : 'Basic'}">
                </ckeditor>
              </ion-item>
            </ion-row>
          </ion-grid>
    </form>



</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-buttons end>
      <button type="submit" ion-button form="savePatientForm">
        <ion-icon name="checkmark"></ion-icon>&nbsp;&nbsp;Gravar dados
      </button>
      <button type="button" ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>&nbsp;&nbsp;Cancelar
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
