<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name="calendar"></ion-icon> Agenda</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="patient-schedule">

  <div class="row">
    <div class="col-md-4">
      <div class="btn-group">
        <button ion-button clear
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
        <button ion-button clear
          mwlCalendarToday
          [(viewDate)]="viewDate">
          Hoje
        </button>
        <button ion-button clear
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="text-center calendar-date-text">{{ viewDate | calendarDate:(view + 'ViewTitle'):'pt' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group float-right">
        <button ion-button clear
          (click)="view = 'month'"
          color="{{ view === 'month' ? 'dark' : '' }}">
          Mês
        </button>
        <button ion-button clear
          (click)="view = 'week'"
          color="{{ view === 'week' ? 'dark' : ''}}">
          Semana
        </button>
        <button ion-button clear
          (click)="view = 'day'"
          color="{{ view === 'day' ? 'dark' : ''}}">
          Dia
        </button>
      </div>
    </div>
  </div>
  <br>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>

  <br><br><br>


  <ion-item>
    <span class="text-title">
      Eventos
    </span>
    <button ion-button outline item-right (click)="handleEvent()">
      Novo&nbsp;<ion-icon name="add"></ion-icon>
    </button>
  </ion-item>

  <table class="event-editor-table">

    <thead>
    <tr>
      <th>Paciente</th>
      <th>Tipo</th>
      <th>Descrição</th>
      <th>Início</th>
      <th>Fim</th>
      <th>Editar</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let event of events; let index = index">
      <td>
        {{event.title}}
      </td>
      <td>
        {{event.type}}
      </td>
      <td>
        {{event.description || '-'}}
      </td>
      <td>
        {{event.start | date:'medium'}}
      </td>
      <td>
        {{event.end | date:'medium'}}
      </td>
      <td>
        <button ion-button small clear
                (click)="handleEvent('click', event)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button color="danger" small clear
          (click)="removeEvent(event)">
          <ion-icon name="close"></ion-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <ion-item *ngIf="!isError && isEmpty()">
    <h2>Nenhum evento encontrado. <a href="#" (click)="search()">Tentar novamente.</a></h2>
  </ion-item>
  <ion-item *ngIf="isError">
    <h2>Oops... erro ao se comunicar com servidor. <a href="#" (click)="search()">Tentar novamente.</a></h2>
  </ion-item>

</ion-content>
